.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

.calc {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 37%;
    padding: 0px 0px;
    font-size: 200%;
    font-weight: lighter;
    color: white;
    background-color: #75c275;
}

.button {
    flex: 1;
    flex-basis: 24%;
    text-align: center;
    padding: 26px 0px;
    border: .5px solid white;
}

#display {
    flex-basis: 74%;
    padding: 15px 0px;
}

#delete {
    width: 4em;
}