.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    padding: 0px 0px;
}

.button {
    flex-basis: 25%;
    text-align: center;
    padding: 35px 0px;
}

#display {
    flex-basis: 75%;
    padding: 25px 0px;
}